<div class = "jumbotron">
<h1>Must See Movies</h1>
</div>

<div class="col-md-offset-1">
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><a href="/actors">Actors</a></button>
  <button type="button" class="btn btn-default"><a href="/directors">Directors</a></button>
  <button type="button" class="btn btn-default"><a href="/movies">Movies</a></button>
</div>
</div>
