<h1>Welcome page</h1>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><a href="/actors">Actors</a></button>
  <button type="button" class="btn btn-default"><a href="/directors">Directors</a></button>
  <button type="button" class="btn btn-default"><a href="/movies">Movies</a></button>
</div>
